.mmd-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;

  &.mmd-box--coll {
    flex-direction: column;
  }

  &.mmd-box--to-end {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.mmd--with-gutter {
  box-sizing: border-box;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.mmd--with-padding {
  box-sizing: border-box;
  padding: var(--gutter);

  &.mmd--with-padding--bottom-xl {
    padding-bottom: calc(var(--gutter) * 2);
  }
}

.mmd--no-margin {
  margin: 0;
}

.mmd--child-rm-margin {
  >*:first-child {
    margin-top: 0;
  }
  >*:last-child {
    margin-bottom: 0;
  }
}

.mmd-with-scroll {
  overflow: scroll;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
