.mmd-font-xxl {
  font-size:      calc(var(--text-font-size)   * 6);
  line-height:    var(--font-xxl__line-height);
  font-weight: 500;
  letter-spacing: -.025em;
}
h1 {
  @extend .mmd-font-xxl;
  margin-top:     calc(var(--text-line-height) * 2);
  margin-bottom:  calc(var(--text-line-height) * 1);
}

.mmd-font-xl {
  font-size:      calc(var(--text-font-size)   * 2);
  line-height:    calc(var(--text-line-height) * 2);
  font-weight: 500;
  letter-spacing: -.025em;
}
h2 {
  @extend .mmd-font-xl;
  margin-top:     calc(var(--text-line-height) * 2);
  margin-bottom:  calc(var(--text-line-height) * 1);
}

.mmd-font-l {
  font-size:      calc(var(--text-font-size)   * 1);
  line-height:    calc(var(--text-line-height) * 1);
  font-weight: 500;
  letter-spacing: -.025em;
}
h3 {
  @extend .mmd-font-l;
  margin-top:     calc(var(--text-line-height) * 0);
  margin-bottom:  calc(var(--text-line-height) * 0);
}

h4, h5, h6 {
  font-weight: 500;
}

p {
  margin-top:     calc(var(--gutter) * 1);
  margin-bottom:  calc(var(--gutter) * 1);
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid var(--border-width);
}

.font--small {
  font-size:    calc( var(--text-font-size)   / 1.5 );
  line-height:  calc( var(--text-line-height) / 1.5 );
  font-weight: 500;
}
